@import '../variables.scss';

.container {
  .contenido {
    display: flex;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  .np-titulo {
    text-align: center;
    margin: 0 auto;
  }

  hr {
    margin-bottom: 30px;
  }

  p {
    text-align: justify;
    margin: auto 10px auto 20px;

  }

  img {
    margin: auto 20px;
  }
}

@media all and (max-width: 480px) {
  .container {
    .contenido {
      display: block !important;
      .texto h3 {
        margin-top: 30px;
      }
      .texto p {
        text-align: justify;
        margin: 10px 10px 20px !important;
      }
    }

    img {
      margin: 0 auto !important;
      width: 100%;
      height: auto;
      position: relative;
    }
  }
}
