<div class="row">
  <div class="container">
    <h1 class="titulo">Nuestro Proyecto</h1>
    <hr>
    <div class="contenido">
      <img src="{{ imagen }}" alt="">
      <div class="texto">
        <h3 class="np-titulo"> Fundación Inclusión TEA</h3>
        <br>
        <p>
          Nuestra fundación fue creada con la intención de dignificar a los niños y niñas del país que poseen un
          trastorno
          del espectro autista en su primera infancia.
          Creamos un jardín infantil para niños de 2 a 5 años de edad, con la idea de realizar inclusión social para
          nuestros niños, junto a ello tenían la oportunidad de educarse de igual forma que sus compañeros y a la vez
          tener
          la opción de lograr incluirse en nuestro sistema a través de terapias ocupacionales y fonoaudiologicas.
          <br>
          <br>
          Nuestro sueño es seguir creciendo y formar escuelas y colegios de inclusión, para brindar esta oportunidad a
          todos los niños del país que posean esta especial condición.
        </p>
      </div>
    </div>
  </div>
</div>
