.container .contenido {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 35px; }

.container .np-titulo {
  text-align: center;
  margin: 0 auto; }

.container hr {
  margin-bottom: 30px; }

.container p {
  text-align: justify;
  margin: auto 10px auto 20px; }

.container img {
  margin: auto 20px; }

@media all and (max-width: 480px) {
  .container .contenido {
    display: block !important; }
    .container .contenido .texto h3 {
      margin-top: 30px; }
    .container .contenido .texto p {
      text-align: justify;
      margin: 10px 10px 20px !important; }
  .container img {
    margin: 0 auto !important;
    width: 100%;
    height: auto;
    position: relative; } }
