<footer class="footer">
  <div class="container">
    <div class="contenedor">
      <div class="links">
        <ul class="list">
          <h5>Links</h5>
          <li><a href="#">Un link</a></li>
          <li><a href="#">Otro link</a></li>
          <li><a href="#">Más links</a></li>
        </ul>
      </div>
      <div class="social">
        <ul class="list">
          <h5>Redes Sociales</h5>
          <li><i class="fa fa-facebook" aria-hidden="true"></i> <a href="#"> Facebook</a></li>
          <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="#"> Twitter</a></li>
        </ul>
      </div>
      <div class="contacto">
        <ul class="list">
          <h5>¡Contáctanos!</h5>
          <li>+56 9 1234 6587</li>
          <li>fundacion@fundacion.cl</li>
          <li>Dirección: Una Dirección #1234</li>
        </ul>
      </div>
      <div class="imagen">
        <img src="{{ src }}" alt="">
      </div>
    </div>
  </div>
</footer>
