<footer class="footer">
  <div class="container">
    <div class="contenedor">
      <div class="links">
        <ul class="list">
          <h5>{{ titles[0] }}</h5>
          <li><a href="#">{{links[0]}}</a></li>
          <li><a href="#">{{links[1]}}</a></li>
          <li><a href="#">{{links[2]}}</a></li>
        </ul>
      </div>
      <div class="social">
        <ul class="list">
          <h5>{{ titles[1] }}</h5>
          <li><i class="fa fa-facebook" aria-hidden="true"></i> <a href="{{facebook}}" target="_blank"> Facebook</a>
          </li>
          <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="{{twitter}}" target="_blank"> Twitter</a></li>
        </ul>
      </div>
      <div class="contacto">
        <ul class="list">
          <h5>{{ titles[2] }}</h5>
          <li>{{contacto[0]}}</li>
          <li>{{contacto[1]}}</li>
          <li>{{contacto[2]}}</li>
        </ul>
      </div>
      <div class="imagen">
        <img src="{{ src }}" alt="">
      </div>
    </div>
  </div>
  <p class="trademark">Hecho por Cafeína Studio</p>
    <p class="trademark">Todos los derechos reservados</p>
</footer>
