<div class="row contacto">
  <div class="container">
    <h1 class="titulo">{{ titulo }}</h1>
    <hr>

    <div class="iconos">
      <div class="telefono">
        <i class="fa fa-phone"></i>
        <p>{{ fono }}</p>
      </div>
      <div class="mail">
        <i class="fa fa-envelope"></i>
        <p>{{ mail }}</p>
      </div>
      <div class="direccion">
        <i class="fa fa-map-marker"></i>
        <p>{{ direccion }}</p>
      </div>

    </div>
  </div>
</div>

<div class="row deposito">
  <div class="container">
    <h1 class="titulo">{{sub_titulo }}</h1>
    <hr>
    <div class="d-inline-block">
      <div class="intro">
        <p>{{ intro }}</p>
      </div>
    </div>
    <fieldset class="info">
      <legend class="signo">
        <i class="fa fa-usd"></i>
      </legend>
      <p>FUNDACIÓN INCLUSIÓN TEA</p>
      <p>Banco Estado</p>
      <p>Chequera Electrónica</p>
      <p>26-9701-65541</p>
    </fieldset>
  </div>
</div>
