<div class="row contacto">
  <div class="container">
    <h1 class="titulo">¡Contáctanos!</h1>
    <hr>

    <div class="d-flex">
      <div class="telefono">
        <i class="fa fa-phone"></i>
        <p>{{ fono }}</p>
      </div>
      <div class="mail">
        <i class="fa fa-envelope"></i>
        <p>{{ mail }}</p>
      </div>
      <div class="direccion">
        <i class="fa fa-map-marker"></i>
        <p>{{ direccion }}</p>
      </div>

    </div>
  </div>
</div>

<div class="row deposito">
  <div class="container">
    <h1 class="titulo">Ayuda nuestra causa</h1>
    <hr>
    <div class="d-flex">
      <div class="intro">
        <p>{{ intro }}</p>
      </div>
      <div class="signo">
        <i class="fa fa-usd"></i>
      </div>
      <div class="info">
        <p>{{ datos_bancarios }}</p>
      </div>
    </div>
  </div>
</div>
