.container {
  font-size: 20px; }
  .container .cn-titulo {
    text-align: center;
    margin: 30px auto 0; }
  .container .telefono {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%; }
  .container div.telefono:before {
    content: "";
    padding: 45px;
    background: #1bbcdc;
    position: absolute;
    border-radius: 80px;
    color: #F0F0F0;
    z-index: -1;
    margin: 25px 21px; }
  .container div.mail:before {
    content: "";
    padding: 45px;
    background: #f09700;
    position: absolute;
    border-radius: 80px;
    color: #F0F0F0;
    z-index: -1;
    margin: 25px 21px; }
  .container .mail {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%; }
  .container div.direccion:before {
    content: "";
    padding: 45px;
    background: #6a2668;
    position: absolute;
    border-radius: 80px;
    color: #F0F0F0;
    z-index: -1;
    margin: 25px 21px; }
  .container .direccion {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%; }
  .container .signo:before {
    content: "";
    padding: 45px;
    background: #e4235d;
    position: absolute;
    border-radius: 80px;
    color: #F0F0F0;
    z-index: -1;
    margin: 25px 21px; }
  .container fieldset {
    border: 2px solid gray;
    margin: 0% auto 5% auto;
    max-width: 50%; }
    .container fieldset legend {
      margin: 0 auto !important;
      text-align: center;
      width: 30%; }
    .container fieldset p {
      text-align: center;
      font-weight: bold;
      line-height: normal; }
    .container fieldset p:nth-child(4n+5) {
      margin-bottom: 8%; }
  .container .info {
    font-size: 24px; }
  .container i {
    font-size: 45px;
    color: #F0F0F0; }
  .container .fa-phone {
    padding: 48px 50px;
    color: #F0F0F0; }
  .container .fa-envelope {
    padding: 45px 44px; }
  .container .fa-map-marker {
    padding: 45px 53px; }
  .container .fa-usd {
    padding: 45px 53px;
    color: #F0F0F0; }
  .container .iconos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .container .deposito {
    margin-top: 35px; }

@media all and (max-width: 480px) {
  .iconos {
    display: list-item !important;
    list-style: none;
    text-align: center;
    margin: 35px auto; }
    .iconos p {
      font-size: 24px; }
  .intro {
    text-align: justify; }
  fieldset {
    border: 2px solid gray;
    margin: 0% auto 5% auto;
    max-width: 100% !important; }
    fieldset legend {
      margin: 0 auto !important;
      text-align: center;
      width: 50% !important; } }
