@import '../_variables.scss';

.container {
  font-size: 20px;

  .cn-titulo {
    text-align: center;
    margin: 30px auto 0;
  }

  .telefono {
    flex-basis: 33.33%;
  }

  div.telefono:before {
    content: "";
    padding: 45px;
    background: $blue;
    position: absolute;
    border-radius: 80px;
    color: #F0F0F0;
    z-index: -1;
    margin: 25px 21px;

  }

  div.mail:before {
    content: "";
    padding: 45px;
    background: $orange;
    position: absolute;
    border-radius: 80px;
    color: #F0F0F0;
    z-index: -1;
    margin: 25px 21px;

  }
  .mail {
    flex-basis: 33.33%;
  }
  div.direccion:before {
    content: "";
    padding: 45px;
    background: $purple;
    position: absolute;
    border-radius: 80px;
    color: #F0F0F0;
    z-index: -1;
    margin: 25px 21px;
  }
  .direccion {
    flex-basis: 33.33%;
  }

  .signo:before {
    content: "";
    padding: 45px;
    background: $pink;
    position: absolute;
    border-radius: 80px;
    color: #F0F0F0;
    z-index: -1;
    margin: 25px 21px;
  }

  fieldset {
    border: 2px solid gray;
    margin: 0% auto 5% auto;
    max-width: 50%;

    legend {
      margin: 0 auto !important;
      text-align: center;
      width: 30%;
    }

    p {
      text-align: center;
      font-weight: bold;
      line-height: normal;
    }

    p:nth-child(4n+5) {
      margin-bottom: 8%;
    }
  }

  .info {
    font-size: 24px;
  }

  i {
    font-size: 45px;
    color: $background;
  }

  .fa-phone {
    padding: 48px 50px;
    color: $background;
  }

  .fa-envelope {
    padding: 45px 44px;
  }

  .fa-map-marker {
    padding: 45px 53px;
  }

  .fa-usd {
    padding: 45px 53px;
    color: $background;
  }

  .iconos {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .deposito {
    margin-top: 35px;
  }
}

@media all and (max-width: 480px) {
  .iconos {
    display: list-item !important;
    list-style: none;
    text-align: center;
    margin: 35px auto;
    p {
      font-size: 22px;
    }
  }

  .intro {
    text-align: justify;
  }

  fieldset {
    border: 2px solid gray;
    margin: 0% auto 5% auto;
    max-width: 100% !important;

    legend {
      margin: 0 auto !important;
      text-align: center;
      width: 50% !important;
    }

    p{
      font-size: 22px;
    }
  }
}
