.container {
  font-family: 'Roboto', sans-serif;
  margin-top: 35px;

  .personal {
    display: flex;
    margin: 50px auto;

    .texto {
      margin: auto 25px auto 40px;
      text-align: justify;
    }
  }

  .sn-titulo {
    text-align: center;
    margin: 0 auto;
  }

  .titulo {
    text-align: left;
    color: #666;
  }

  .sub-titulo {
    padding: 5px 0;
    border-bottom: solid 1px #a0a0a0;

  }

  .imagenes img {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    max-width: 315px;
    height: auto;
  }

  h2 {
    margin: 0;
    padding: 0;
  }

  h4 {
    margin: 0 10px 0 0;
    display: inline-block;
  }

  h5 {
    margin: 0;
    padding: 0;
  }

  p {
    margin-top: 25px;
  }

  .personal:last-child {
    margin-bottom: 100px;
  }
}

@media all and (max-width: 480px) {
  .container {
    .personal {
      display: block !important;
      margin: 0;

      h2 {
        text-align: center;
      }
      h5 {
        display: inline;
        text-align: left;
      }
      .sub-titulo {
        display: inline-block;
        text-align: center;
      }
    }
    .imagenes {
      text-align: center;
      img {
        margin: 0 auto !important;
        width: 80%;
        height: auto;
        position: relative;
      }
    }
  }
}
