@import '../variables.scss';

.contenido {
  .imagen {
    text-align: center;
    img {
      max-height: 400px;
      width: auto;
    }
  }
  .texto {
    text-align: justify;
    margin-top: 30px;
  }

}

.boton {
  margin-bottom: 20px;
}

.atras {
  margin-top: 20px;
  background: $blue;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: #13839a;
}

@media all and (max-width: 480px) {
  .container {

    .imagen {
      text-align: center;
      img {
        margin: 0 auto !important;
        max-width: -webkit-fill-available;
        height: auto;
        position: relative;
      }
    }

    .texto {
      margin: 25px 0 0;
    }

    .atras {
      margin-bottom: 20px;
      text-align: center;
    }

    .boton {
      text-align: center;
    }
  }
}
