@import '../variables.scss';

.contenido {
  .imagen {
    margin: 25px auto;
    max-width: 70%;
  }
  .texto {
    text-align: justify;
  }

}

.atras {
  margin-top: 20px;
  background: $blue;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}

button:hover{
  background-color: #13839a;
}

