@import '../variables';

nav {
  background: $orange;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  .nav-item {
    text-align: center !important;
    padding: 0 15px;
    color: #A0A0A0;
  }
  .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
  }
  .dropdown-toggle {
    cursor: pointer;
  }
}


