@import '../variables';

nav {
  background: $green;
  color: $background !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;

  .nav-item {
    text-align: center !important;
    padding: 10px;
    .nav-link {
      color: $background !important;
    }
  }

  .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    border-radius: 5px;
  }
  .nav-item:nth-child(4n+1):hover{
    background-color: $pink;
  }

  .nav-item:nth-child(4n+2):hover{
    background-color: #3e45ff;
  }
  .nav-item:nth-child(4n+3):hover{
    background-color: $purple;
  }
  .nav-item:nth-child(4n+4):hover{
    background-color: $orange;
  }

  .dropdown-toggle {
    cursor: pointer;
  }
}


