@import '../../variables.scss';

.card {
  margin: auto 10px;
  align-content: space-evenly;
  max-width: 350px;
  .btn {
    background-color: $blue;
    color: $background;
    text-decoration: none;
  }
  .btn:hover {
    background-color: #1495ac;
  }
  img.card-img-top {
    max-height: 250px;
    width: auto;
  }
}

@media all and (max-width: 480px) {
  .card {
    margin: 10px 0;
  }
}
