@import '../variables';

.nav {
  display: block;
  background-color: $yellow;
  .contacto {
    display: inline-flex;
    float: end;
  }
  .email {
    line-height: 0;
  }
  .telefono {
    line-height: 0;
  }
  p {
    color: #A0A0A0;
  }
  img {
    max-height: 100px;
    width: auto;
  }
}


