@import '../variables.scss';

.nav {
  background-color: $background;

  .contacto {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 2%;
  }

  .contacto .email {
    line-height: 0;
    float: right;
    margin-top: 3%;
  }

  .contacto .telefono {
    line-height: 0;
    float: right;
    margin-right: 20px;
    margin-top: 3%;
  }

  p {
    color: #A0A0A0;
  }

  img {
    max-height: 100px;
    width: auto;
  }
}

@media all and (max-width: 480px) {
  .email {
    float: left !important;
  }

  .telefono {
    float: left !important;
  }

  .navbar-brand {
    position: relative !important;
    left: 38% !important;
  }
}

