<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="animated fadeIn">
    <div class="image">
      <img [src]=images[0] alt="Random second slide" class="carousel-img">
    </div>
    <div class="carousel-caption">
      <h3>{{title[0]}}</h3>
      <p>{{texts[0]}}</p>
    </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="animated fadeIn">
    <div class="image">
    <img [src]=images[1] alt="Random second slide" class="carousel-img">
    </div>
    <div class="carousel-caption">
      <h3>{{title[1]}}</h3>
      <p>{{texts[1]}}</p>
    </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="animated fadeIn">
    <div class="image">
      <img [src]=images[2] alt="Random second slide" class="carousel-img">
    </div>
    <div class="carousel-caption">
      <h3>{{title[2]}}</h3>
      <p>{{texts[2]}}</p>
    </div>
    </div>
  </ng-template>
</ngb-carousel>
