@import '../../_variables.scss';

.container {
  .contenido {
    margin-top: 50px;
  }

  .np-titulo {
    text-align: center;
    margin: 0 auto;
  }

  hr {
    margin-bottom: 30px;
  }
  .d-flex {
    margin-bottom: 35px;
  }
  .texto {
    margin: 0 10px auto 20px;
    p {
      text-align: justify;

    }
  }

  img {
    margin: auto 20px;
  }
}
